.app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #f8f9fa;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
